*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
a{
    text-decoration: none;
    background-color: transparent;
    color: inherit;
}
.header{
    padding-top: 20px;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.header__top{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 78px;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.header__nav{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.header__nav-list{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    padding-right: 30px;
}
.header__nav-list li {
    padding-right: 25px;
}
.header__nav-list li a{
    border-radius: 10px;
    background-color: #f90;
    padding: 11px 10px;
    color: #fff;
}


/*CSS for control_block*/

.control_block{
    display: flex;
    margin-bottom: 20px;
}

#filter_form{
    margin-left: 70px;
}

.footer__form-title{
    text-align: center;
}

.add_button{
    border-radius: 10px;
    background-color: #f90;
    padding: 11px 10px;
    color: #fff;
}

#add_employee_form div, #add_department_form div{
    margin-bottom: 5px;
}

#add_employee_form label, #add_department_form label{
    margin-right: 40px;
}

.form_button{
    border-radius: 20px;
    border: 1px solid #bcd0e5;
    color: #173a56;
    padding: 11px 24px;
    margin-right: 14px;
    margin-top: 5px;
}



/*CSS for popup*/

*{
    font-family: Areal;
}

.b-popup{
    display: none;
    width:100%;
    min-height:100%;
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
    margin: 220px auto 0px auto;
    width: 400px;
    height: auto;
    padding: 15px;
    background-color: #C5C67E;
    border-radius:20px;
    box-shadow: 0px 0px 10px #000;
}




/*CSS for table*/

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    width: 100%;
}

th {
    background: #BCEBDD;
    color: navy;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

th:first-child, td:first-child {
    text-align: left;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

td {
    padding: 10px 20px;
    background: #F8E391;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:last-child {
    border-right: none;
}



