<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% endblock %} | Flask App
    </title>
    <link rel="stylesheet" href="../static/css/style.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header__top">
            <div class="header__logo">
                <img src="../static/images/Logo.jpg" alt="Site logo">
            </div>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li><a href="{{ url_for('index') }}">Main</a></li>
                    <li><a href="{{ url_for('show_employees') }}">Employees</a></li>
                    <li><a href="{{ url_for('show_departments') }}">Departments</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<main>

    {% block content %}
    {% endblock %}
</main>
<script src="../static/js/script.js"></script>
{% block script %}
    {% endblock %}
</body>