{% extends 'base.html' %}
{% block title %}
    {{ dep_name }} Department
{% endblock %}

{% block content %}

    <div class="b-popup" id="popup1">
        <div class="b-popup-content">
            <div class="footer__form">
                <div class="footer__form-title"><h3>Add new employee</h3></div>
                <form id="add_employee_form" action="">
                    <div>
                        <label for="first_name">First name:</label>
                        <input name="first_name" required type="text" placeholder="First name" minlength="2"
                               maxlength="20">
                    </div>
                    <div>
                        <label for="last_name">Last name:</label>
                        <input name="last_name" required type="text" placeholder="Last name" minlength="3"
                               maxlength="35">
                    </div>
                    <div>
                        <label for="patronymic">Patronymic</label>
                        <input name="patronymic" required type="text" placeholder="Patronymic" minlength="3"
                               maxlength="35">
                    </div>
                    <div>
                        <label for="department_id">Department</label>
                        <select required name="department_id" id="">

                        </select>
                    </div>
                    <div>
                        <label for="birthday">Date of birth</label>
                        <input name="birthday" required type="date">
                    </div>
                    <div>
                        <label for="salary">Salary</label>
                        <input name="salary" required type="number" placeholder="Salary">
                    </div>
                    <div>
                        <button type="submit" class="form_button" onclick="">Add</button>
                        <button type="button" class="form_button" onclick="PopUpHide(1)">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="b-popup" id="popup2">
        <div class="b-popup-content">
            <div class="footer__form">
                <div class="footer__form-title"><h3>Edit Current employee</h3></div>
                <form id="edit_employee_form" action="">
                    <div>
                        <label for="first_name">First name:</label>
                        <input name="first_name" required type="text" placeholder="First name" minlength="2"
                               maxlength="20">
                    </div>
                    <div>
                        <label for="last_name">Last name:</label>
                        <input name="last_name" required type="text" placeholder="Last name" minlength="3"
                               maxlength="35">
                    </div>
                    <div>
                        <label for="patronymic">Patronymic</label>
                        <input name="patronymic" required type="text" placeholder="Patronymic" minlength="3"
                               maxlength="35">
                    </div>
                    <div>
                        <label for="birthday">Date of birth</label>
                        <input name="birthday" required type="date">
                    </div>
                    <div>
                        <label for="department_id">Department</label>
                        <select required name="department_id">

                        </select>
                    </div>
                    <div>
                        <label for="salary">Salary</label>
                        <input name="salary" required type="number" placeholder="Salary">
                    </div>
                    <div>
                        <button type="submit" class="form_button" onclick="">Save</button>
                        <button type="button" class="form_button" onclick="PopUpHide(2)">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="control_block">
           <h2>{{ name }} Department</h2>
            <form id="filter_form" action="">
                <label for="from">From:</label>
                <input name="from" required type="date">
                <label for="to">To:</label>
                <input name="to" required type="date">
                <button type="submit" onclick="">Search</button>
                <button type="button" class="footer__button" onclick="ajax_get_all('employees')">Clear filter</button>
            </form>

            <form id="form_current_date" action="">
                <label for="when">Current date:</label>
                <input name="when" required type="date">
                <button type="submit" onclick="">Search</button>
            </form>
        </div>

        <table id="employees_table">
         <thead>
            <tr>
                <th>ID</th>
                <th>Department</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Patronymic</th>
                <th>Birthday</th>
                <th>Salary</th>
                <th>Function</th>
                <th>Function</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

{% endblock %}


{% block script %}
    <script src="../static/js/department.js"> </script>
    <script src="../static/js/employees_simple.js"> </script>

{% endblock %}