{% extends 'base.html' %}
{% block title %}
  Departments list
{% endblock %}


{% block content %}

    <div class="b-popup" id="popup1">
        <div class="b-popup-content">
            <div class="footer__form">
                <div class="footer__form-title"><h3>Add new department</h3></div>
                <form id="add_department_form" action="" method="post">
                    <div>
                        <label for="name">Name:</label>
                        <input name="name" required type="text" placeholder="name" minlength="2"
                               maxlength="20">
                    </div>
                    <div>
                        <button type="submit" class="form_button" onclick="">Add</button>
                        <button type="button" class="form_button" onclick="PopUpHide(1)">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="b-popup" id="popup2">
        <div class="b-popup-content">
            <div class="footer__form">
                <div class="footer__form-title"><h3>Add new department</h3></div>
                <form id="edit_department_form" action="" method="post">
                    <div>
                        <label for="name">Name:</label>
                        <input name="name" required type="text" placeholder="name" minlength="2"
                               maxlength="20">
                    </div>
                    <div>
                        <button type="submit" class="form_button" onclick="">Add</button>
                        <button type="button" class="form_button" onclick="PopUpHide(2)">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<div class="container">
    <div class="control_block">
        <a class="add_button" href="javascript:PopUpShow(1)">Add department</a>

    </div>

    <table id="departments_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Average salary</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

{% endblock %}

{% block script %}
    <script src="../static/js/departments.js"></script>
{% endblock %}
